# Project exclude paths
/.gradle/
/ddd-core/build/
/ddd-core/build/classes/java/main/
/event-rabbitmq/build/
/event-rabbitmq/build/classes/java/main/
/repository-mongodb/build/
/repository-mongodb/build/classes/java/main/